<div class="project-case">

  <div id="case-info" class="columns">

    <span id="meta-info" class="s-no-pad m-no-pad col-l-1-3 col-xl-1-4">
      <div>{{ projects[currentCase]['year'] }}</div>
      <!--<div>{{ projects[currentCase]['organization'] }}</div>-->
      <div>{{ projects[currentCase]['title'] }}</div>
    </span>

    <span class="s-no-pad m-no-pad col-l-2-3 col-xl-3-4">
      <div class="case-paragraph">
        <a href="http://figma.com" target="_blank">Figma</a> is an online collaborative design tool built for user interface designers. The following is a sampling of communication and visual design work done while employed at Figma and in collaboration with Johan Prag and Sarah Pease. 
      </div>
    </span>

  </div>

  <div class="case-images columns">
    <!-- <video class="img-1-2" autoplay>
      <source src="assets/compressed/Figma/Videos/2. Simultaneous Editing.mp4" type="video/mp4">
    </video>-->
    <div class="case-section img-1 center">Marketing Website Landing Page</div>
    <a href="http://figma.com" target="_blank"> <img src="dist/assets/compressed/Figma/landing page browser.png" class="img-1" />
    </a>


    <div class="case-section img-1 center">Onboarding and Email Imagery</div>
    <img src="dist/assets/compressed/Figma/gifs/feedback.gif" class="img-1-2" />
    <img src="dist/assets/compressed/Figma/gifs/comment.gif" class="img-1-2" />
    <img src="dist/assets/compressed/Figma/gifs/text.gif" class="img-1-4" />
    <img src="dist/assets/compressed/Figma/gifs/pen.gif" class="img-1-2" />
    <img src="dist/assets/compressed/Figma/gifs/sketch.gif" class="img-1-4" />
    <img src="dist/assets/compressed/Figma/gifs/features.gif" class="img-1-2" />
    <img src="dist/assets/compressed/Figma/gifs/constraints.gif" class="img-1-2" />
    <img src="dist/assets/compressed/Figma/gifs/file.gif" class="img-1-2" />
    <img src="dist/assets/compressed/Figma/gifs/waitlist.gif" class="img-1-2" />

    <div class="case-section img-1 center">Event Imagery</div>
    <img src="dist/assets/compressed/Figma/open house invites.png" class="img-1" />

    <div class="case-section img-1 center">User Demo Content</div>
    <img src="dist/assets/compressed/Figma/demo app v4.png" class="img-1" />

  </div>

  <a id="previous" ng-click="goToPrevious()">Previous</a>
  <a id="next" ng-click="goToNext()">Next</a>

</div>
