<div class="project-case">

  <a id="previous" ng-click="goToPrevious()">About</a>
  <a id="next" ng-click="goToNext()">Work</a>

  <div id="case-info" class="columns">

    <span id="meta-info" class="s-no-pad m-no-pad col-l-1-3 col-xl-1-4">
      <div>{{ projects[currentCase]['year'] }}</div>
      <div>{{ projects[currentCase]['organization'] }}</div>
      <div>{{ projects[currentCase]['title'] }}</div>
    </span>

    <span class="s-no-pad m-no-pad col-l-2-3 col-xl-3-4">
      <div class="case-paragraph">
        <a href="http://figma.com" target="_blank">Jose is a designer based in San Francisco.</a>
      </div>
    </span>

  </div>


</div>
