<div class="project-case">

  <div id="case-info" class="columns">

    <span id="meta-info" class="s-no-pad m-no-pad col-l-1-3 col-xl-1-4">
      <div>{{ projects[currentCase]['year'] }}</div>
      <!--<div>{{ projects[currentCase]['organization'] }}</div>-->
      <div>{{ projects[currentCase]['title'] }}</div>
    </span>

    <span class="s-no-pad m-no-pad col-l-2-3 col-xl-3-4">
      <div class="case-paragraph">
        Printed matter for a symposium event accompanying the MoMA exhibition: <a href="http://www.moma.org/calendar/exhibitions/1456?locale=en" target="_blank">Latin America in Construction: Architecture 1955–1980</a>.
      </div>
    </span>

  </div>

  <div class="case-images columns">
    <img src="dist/assets/compressed/LAA/LAA Poster-02.png" class="img-1" />
    <img src="dist/assets/compressed/LAA/LAA4.jpg" class="img-1-2" />
    <img src="dist/assets/compressed/LAA/LAA5.jpg" class="img-1-2" />
    <img src="dist/assets/compressed/LAA/LAA Poster-03.png" class="img-1" />
  </div>

  <a id="previous" ng-click="goToPrevious()">Previous</a>
  <a id="next" ng-click="goToNext()">Next</a>

</div>
