<div class="project-case">

  <div id="case-info" class="columns">

    <span id="meta-info" class="s-no-pad m-no-pad col-l-1-3 col-xl-1-4">
      <div>{{ projects[currentCase]['year'] }}</div>
      <!--<div>{{ projects[currentCase]['organization'] }}</div>-->
      <div>{{ projects[currentCase]['title'] }}</div>
    </span>

    <span class="s-no-pad m-no-pad col-l-2-3 col-xl-3-4">
      <div class="case-paragraph" ng-repeat="paragraph in projects[currentCase]['description']">
        {{ paragraph }}
      </div>
    </span>

  </div>

  <div class="case-images columns">
    <img src="dist/assets/compressed/Pidgin/pidgin01.png" class="img-1-2" />
    <img src="dist/assets/compressed/Pidgin/pidgin02.png" class="img-1-2" />
    <img src="dist/assets/compressed/Pidgin/pidgin07.png" class="img-1-2" />
    <img src="dist/assets/compressed/Pidgin/pidgin04.png" class="img-1-2" />
    <img src="dist/assets/compressed/Pidgin/pidgin08.png" class="img-1" />
  </div>

  <a id="previous" ng-click="goToPrevious()">Previous</a>
  <a id="next" ng-click="goToNext()">Next</a>

</div>
