<div class="project-case">

  <div id="case-info" class="columns">

    <span id="meta-info" class="s-no-pad m-no-pad col-l-1-3 col-xl-1-4">
      <div>{{ projects[currentCase]['year'] }}</div>
      <!--<div>{{ projects[currentCase]['organization'] }}</div>-->
      <div>{{ projects[currentCase]['title'] }}</div>
    </span>

    <span class="s-no-pad m-no-pad col-l-2-3 col-xl-3-4">
      <div class="case-paragraph" ng-repeat="paragraph in projects[currentCase]['description']">
        {{ paragraph }}
      </div>
    </span>

  </div>

  <div class="case-images columns">
    <img src="dist/assets/compressed/Thesis/couple stairs.png" class="img-1-3" />
    <img src="dist/assets/compressed/Thesis/window screen.png" class="img-1-3" />
    <img src="dist/assets/compressed/Thesis/blinds.png" class="img-1-3" />
    <img src="dist/assets/compressed/Thesis/stair landing.png" class="img-1-4" />
    <img src="dist/assets/compressed/Thesis/stair zoom 2.png" class="img-1-2" />
    <img src="dist/assets/compressed/Thesis/stair landing corner.png" class="img-1-4" />
    <img src="dist/assets/compressed/Thesis/bathroom.png" class="img-1-2" />
    <img src="dist/assets/compressed/Thesis/shower.png" class="img-1-4" />
    <img src="dist/assets/compressed/Thesis/couple shower.png" class="img-1-4" />
    <img src="dist/assets/compressed/Thesis/bedroom sleeping.png" class="img-1-4" />

    <img src="dist/assets/compressed/Thesis/cube.png" class="img-1-2" />
    <img src="dist/assets/compressed/Thesis/kneeling.png" class="img-1-4" />
    <img src="dist/assets/compressed/Thesis/fireplace.png" class="img-1-4" />
    <img src="dist/assets/compressed/Thesis/couple.png" class="img-1-4" />
    <img src="dist/assets/compressed/Thesis/stairs zoom.png" class="img-1-2" />
  </div>

  <a id="previous" ng-click="goToPrevious()">Previous</a>
  <a id="next" ng-click="goToNext()">Next</a>

</div>
