<div id="about">
  <header class="columns">
    <span id="bio" class="s-no-pad m-no-pad img-3-4 off-1-8 img-3-4 off-1-8">
      Jos&eacute Meza is a designer focused on visual, experience, and communication design. He is currently a designer at <a href="http://www.ideo.com" target="_blank">IDEO</a>, Palo Alto. Previously, he has interned at <a href="http://www.pentagram.com" target="_blank">Pentagram</a>, New York for partner, Paula Scher and <a href="http://2x4.org/" target="_blank">2x4</a> with their Environments Design team.
      <br>
      <br>
      He received a masters degree in architecture from <a href="https://soa.princeton.edu/" target="_blank">Princeton</a> in 2015 and a bachelors degree in architecture from <a href="http://yale.edu/" target="_blank">Yale</a> in 2010. 
      <br>
      <br>
      Please <a href="mailto:jose.meza.ramos@gmail.com" target="_blank">contact</a> for freelance or work inquiries.
    </span>
  </header>

<!--<div id="about-content" class="columns">
    <span id="hack-fix" class="s-no-pad img- m-no-pad img- col-l-1-3 off-1-8 col-xl-1-3 off-1-8 img-">
      <div class="about-header">Education</div>
      <div class="about-institutions" ng-repeat="institution in institutions">
        <div>{{ institution.name }}</div>
        <div>{{ institution.degree }}</div>
        <div>{{ institution.years }}</div>
      </div>
    </span>
    <span class="s-no-pad img- m-no-pad img- col-l-1-3 col-xl-1-3 img-">
      <div class="about-header">Experience</div>
      <div class="about-jobs" ng-repeat="job in jobs">
        <div class="about-title">{{ job.title }}</div>
        <div>{{ job.position }}</div>
        <div>{{ job.dates }}</div>
        <div>{{ job.duties }}</div>
      </div>
    </span>
    <span class="s-no-pad img- m-no-pad img- col-l-1-3 off-1-8 col-xl-1-3 off-1-8 img-">
      <div class="about-header">Skills</div>
      <div class="about-skills" ng-repeat="skillGroup in skills">
        <div ng-repeat="skill in skillGroup" ng-class="{'about-title': $index === 0}">{{ skill }}</div>
      </div>
    </span>
  </div>
</div>

</header>-->
