<nav id="nav" ng-controller="ListCtrl" class="columns" ng-class="{'home': isActive('/home')}">

  <span class="col-m-1-2 col-l-1-2 col-xl-1-2 columns no-left-pad">

    <span class="col-m-1-2 col-l-1-2 col-xl-1-2"
          ng-class="{'nav-header': currentCase}">

      <a ng-class="{'active': isActive('/about')}"
         ng-if="!currentCase"
         ui-sref="about">About</a>

      <a class="nav-header" ng-if="currentCase">{{ projects[currentCase].header }}</a>

    </span>

  </span>

  <span class="col-m-1-2 col-l-1-2 col-xl-1-2 right-align">

      <span class="col-m-1-2 col-l-1-2 col-xl-1-2"
          ng-class="{'nav-header': currentCase}">

      <a ng-class="{'active': isActive('/images')}"
         ui-sref="images">Work</a>

      </span>
  </span>

</nav>
