#list { width: 100%; }
.list-row { margin-bottom: 10px; }

.list-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (min-width: $desktop-min) and (max-width: $hd-max) {
  .list-year { width: 75px; }
  .list-group { padding-right: 0px; }
}

@media (min-width: $tablet-min) and (max-width: $tablet-max) {
  .list-year { width: 75px; }
}

@media (min-width: $mobile-min) and (max-width: $mobile-max) {
  .list-year { width: 43px; }
}

@media (min-width: 0px) and (max-width: 320px) {
  .list-year { width: 35px; }
}
